@font-face {
  font-family: Estedad-VF;
  src: url(../fonts/Estedad.ttf);
}

@font-face {
  font-family: Alfa Slab One;
  src: url(../fonts/AlfaSlabOne-Regular.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-VariableFont_slntwght.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: Roboto400;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto500;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto900;
  src: url(../fonts/Roboto-Black.ttf);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

/* Width */

.min-w50 {
  min-width: 50px;
}

.w-260 {
  width: 260px;
}

.w-170 {
  width: 170px;
}

.w-80per {
  width: 80%;
}

.w-40per {
  width: 40%;
}

.w-100per {
  width: 100%;
}

.min-w50per {
  width: 50%;
}

.w-321 {
  width: 321px;
}

.w-1200 {
  width: 1200px;
}

.w-544 {
  width: 544px;
}

.w-587 {
  width: 587.897px;
}

.w-fit {
  width: fit-content;
}

.w-max {
  width: max-content;
}

.w-min {
  width: min-content;
}

.w-11perc {
  width: 11.8%;
}

.w-46perc {
  width: 46.67%;
}

.w-66per {
  width: 66%;
}

.w-123per {
  width: 123%;
}

.w-181per {
  width: 178%;
}

.mw-main {
  max-width: calc(100% - 48px);
  /* min-width: fit-content; */
}

.max-w644 {
  max-width: 644px;
}

.w-footer {
  width: 100%;
}

.radio1 {
  aspect-ratio: 1;
}

/* Height */

.min-h3 {
  height: 3px;
}

.min-h50 {
  min-height: 50px;
}

.h-818 {
  max-height: 818.074px;
}

.h-50 {
  height: 50px;
}

.h-50per {
  height: 50%;
}

.h-100per {
  height: 100%;
}

.h-fit {
  height: fit-content;
}

/* -------- Text ---------*/

/* Color */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.c-white {
  color: #ffffff;
}

.c-gray {
  color: #808080;
}

.c-lightgray {
  color: #aeaeae;
}

.c-black {
  color: #000;
}

.c-blue {
  color: #35fcfb;
}

.c-transparent {
  color: transparent;
}

.lst-none {
  list-style-type: none;
}

.td-none {
  text-decoration: none;
}

/* -------- Line height --------  */

.lh-94 {
  line-height: 94%;
}

.lh-102 {
  line-height: 102.5%;
}

.lh-107 {
  line-height: 107%;
}

.lh160 {
  line-height: 161.023%;
}

.lh-166 {
  line-height: 166%;
}

.lh-200 {
  line-height: 200%;
}

.lh-141 {
  line-height: 141%;
}

.lh-145 {
  line-height: 145%;
}

/* -------- Letter spaceing --------  */

.ls-04 {
  letter-spacing: 0.4px;
}

.ls069 {
  letter-spacing: 0.69px;
}

.ls-08 {
  letter-spacing: 0.8px;
}

.ls-1 {
  letter-spacing: 1.16px;
}

.ls-150 {
  letter-spacing: 1.5px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-215 {
  letter-spacing: 2.15px;
}

.ls561 {
  letter-spacing: 5.61px;
}

.ls033 {
  letter-spacing: 0.326px;
}

/* Text function */

.uppercase {
  text-transform: uppercase;
}

.opa-0 {
  opacity: 0;
}

.opa-01 {
  opacity: 0.1;
}

.opa-065 {
  opacity: 0.65;
}

.opa-017 {
  background-color: rgba(255, 255, 255, 0.17);
  /* backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(17px); */
}

.visible-hidden {
  visibility: hidden;
}

.visible-visible {
  visibility: visible;
}

/* ------------------------   Font ------------------------   */

/* -------- Font family --------  */

.ff-EVF {
  font-family: "Estedad-VF";
}

.ff-ASO {
  font-family: "Alfa Slab One";
}

.ff-Raleway {
  font-family: "Raleway";
}

.ff-Roboto500 {
  font-family: "Roboto500";
}

.ff-Robot400 {
  font-family: "Roboto400";
}

.ff-Roboto900 {
  font-family: "Roboto900";
}

.ff-Inter {
  font-family: "Inter";
}

/* -------- Font size --------  */

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fs-10 {
  font-size: 1rem;
}

.fs-16 {
  font-size: 1.6rem;
}

.fs-18 {
  font-size: 1.8rem;
}

.fs-20 {
  font-size: 2rem;
}

.fs-22 {
  font-size: 2.25rem;
}

.fs-34 {
  font-size: 3.4rem;
}

.fs-40 {
  font-size: 4rem;
}

.fs-58 {
  font-size: 5.8rem;
}

.fs-75 {
  font-size: 7.5rem;
}

.fs-107 {
  font-size: 10.7rem;
}

/* -------- Font style --------  */

.fs-normal {
  font-style: normal;
}

.fs-italic {
  font-style: italic;
}

/* Margin */

.m-0 {
  margin: 0;
}

.m-center {
  margin: 0 auto;
}

.m-middle {
  margin: auto 0;
}

.mt--20 {
  margin-top: -20px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-41 {
  margin-top: 41px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-54 {
  margin-top: 54px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-120 {
  margin-top: 120px;
}

.mb-12 {
  margin-bottom: 12px;
}

.ml--37 {
  margin-left: -37px;
}

.mr-56 {
  margin-right: 56px;
}

/* Padding */

.p-0 {
  padding: 0;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-26 {
  padding-top: 26px;
  padding-bottom: 26px;
}

.py-13 {
  padding-top: 13px;
  padding-bottom: 13px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.px-120 {
  margin-left: 120px;
  margin-right: 120px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-18 {
  padding-bottom: 18px;
}

.pr-56 {
  margin-right: 56px;
}

.pt-190 {
  margin-top: 190px;
}

/* Background color */

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-charcoal {
  background-color: #1b1b1b;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

.bg-blue {
  background-color: #2bf6fa;
}

/* Flex */

.d-none {
  display: none;
}

.db {
  display: block;
}

.df {
  display: flex;
}

.flex-basic {
  flex: 1 1 200px;
}

.jc-center {
  justify-content: center;
}

.jc-start {
  justify-content: start;
}

.jc-space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-base {
  align-items: baseline;
}

.f-column {
  flex-direction: column;
}

.f-row-reverse {
  flex-direction: row-reverse;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-grow-1 {
  flex-grow: 1;
}

.gap-12 {
  gap: 12px;
}

.gap-17 {
  gap: 17px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-64 {
  gap: 64px;
}

.gap-104 {
  gap: 104px;
}

/* Float */

.float-left {
  float: left;
}

/* grid */

.dg {
  display: grid;
}

.g-col-auto-min321 {
  grid-template-columns: 1fr 1fr;
}

.g-gap-r25 {
  gap: 25px 0px;
}

.g-row-span2 {
  grid-row: span 2 / span 2;
}

/* Position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.inset-0 {
  inset: 0;
}

.inset-0-0-0-40per {
  inset: 0px;
}

.top-0 {
  top: 0;
}

.top-5per {
  top: 5%;
}

.top-50per {
  top: 50%;
}

.top-77 {
  top: 77px;
}

.top-190 {
  top: 190px;
}

.top-267 {
  top: 267px;
}

.top--150 {
  top: -150px;
}

.top-33per {
  top: 33%;
}

.bottom-0 {
  bottom: 0;
}

.bottom-4per {
  bottom: 4%;
}

.bottom-95 {
  bottom: 95px;
}

.bottom-11per {
  bottom: 11%;
}

.left--1per {
  left: -1%;
}

.left-0 {
  left: 0;
}

.left-50per {
  left: 50%;
}

.transX--50 {
  transform: translateX(-50%);
}

.transX-100 {
  transform: translateX(100%);
}

.transY--50 {
  transform: translateY(-50%);
}

.right--8per {
  right: -8%;
}

.right--64 {
  right: -64px;
}

.right-0 {
  right: 0;
}

.right-30 {
  right: 30px;
}

.right--125 {
  right: -125px;
}

.z--1 {
  z-index: -1;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

/* Decoration */

.separate::after {
  content: "";
  width: 1px;
  height: 20px;
  background: #2bf6fa;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.sticky {
  position: sticky;
  top: -32px;
}

.over-hidden {
  overflow: hidden;
}

.t-stroke {
  -webkit-text-stroke: 1px #fff;
}

.fit-contain {
  object-fit: contain;
}

.fit-cover {
  object-fit: cover;
}

/* border */

.b-1-red {
  border: 1px solid rgb(255, 0, 0);
}

.br-circle {
  border-radius: 50%;
}

.b-none {
  border: none;
}

/* Animation */

.hover-btn:hover {
  background-color: gold;
  transition: 0.5s;
  cursor: pointer;
}

.hover-word:hover {
  box-shadow: 0 2px 0 0 #2bf6fa;
}

.hover-icon:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}

.menu-icon:checked ~ .overlay {
  visibility: visible;
  opacity: 0.65;
}

.menu-icon:checked ~ .menu-checked {
  transform: translateX(0%);
}

.transi-05s {
  transition: 0.5s;
}

/* Tablet */

@media (min-width: 768px) and (max-width: 991.98px) {
  .md-f-column {
    flex-direction: column;
  }
  .md-gap-40 {
    gap: 40px;
  }
  .md-text-center {
    text-align: center;
  }
  .md-fs-40 {
    font-size: 4rem;
  }
  .md-px-55 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

/* Phone */

@media (max-width: 767.98px) {
  .sm-d-none {
    display: none;
  }
  .sm-d-block {
    display: block;
  }
  .sm-d-flex {
    display: flex;
  }
  .sm-d-inline {
    display: inline;
  }
  .sm-static {
    position: static;
  }
  .sm-jc-center {
    justify-content: center;
  }
  .sm-f-column {
    flex-direction: column;
  }
  .sm-gap-64 {
    gap: 64px;
  }
  .sm-text-left {
    text-align: left;
  }
  .sm-p-0 {
    padding: 0;
  }
  .separate::after {
    display: none;
  }
  .sm-separater:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2bf6fa;
    position: absolute;
    bottom: 0;
  }
  .sm-px-0 {
    padding-left: 0px;
    padding-right: 132px;
  }
  .sm-fs-42 {
    font-size: 4.2rem;
  }
  .sm-fs-16 {
    font-size: 1.6rem;
  }
  .sm-fs-14 {
    font-size: 1.4rem;
  }
  .sm-fs-22 {
    font-size: 2.2rem;
  }
  .sm-fs-28 {
    font-size: 2.8rem;
  }
  .sm-fs-32 {
    font-size: 3.2rem;
  }
  .sm-fs-60 {
    font-size: 6rem;
  }
  .sm-w-100per {
    width: 100%;
  }
  .sm-w-90per {
    width: 90%;
  }
  .sm-w-33per {
    width: 33%;
  }
  .sm-m-center {
    margin: 0 auto;
  }
  .sm-h-233 {
    height: 233px;
  }
  .sm-h-fit {
    height: fit-content;
  }
  .sm-radio1 {
    aspect-ratio: 1;
  }
  .sm-absolute {
    position: absolute;
  }
  .sm-mt-40 {
    margin-top: 40px;
  }
  .sm-mt-30 {
    margin-top: 30px;
  }
  .sm-mt-80 {
    margin-top: 80px;
  }
  .sm-left-50per {
    left: 50%;
  }
  .sm-transX--50 {
    transform: translateX(-50%);
  }
  .sm-trans--5050 {
    transform: translate(-50%, -50%);
  }
  .sm-top-15per {
    top: 15%;
  }
  .hover-word:hover {
    box-shadow: none;
    background-color: gold;
    color: #000;
  }
  .sm-py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .sm-px-76 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .sm-m-width {
    width: calc(100% - 60px);
  }
}
